<template>
  <div id="pageMap">
    <v-container grid-list-xl fluid>
      <div class="google-map" id="map">

      </div>
    </v-container>
  </div>
</template>

<script>
import Material from "vuetify/es5/util/colors";

export default {
  name: "google-maps",
  data: () => {
    return {
      mapName: "map",
      color: Material
    };
  },
  computed:{
    markers() {
      return this.$store.getters["emergencyStore/markers"];
    }
  },
  mounted() {
    const el = document.getElementById("map");
    const options = {
      center: { lat: -8.652933, lng: 117.361648 },
      zoom: 8
    };
    const map = new window.google.maps.Map(el, options);
    console.log(this.markers);
    
  },
  methods:{
    getData() {
      this.$store.dispatch('emergencyStore/getMarkers')
    },
  }
};
</script>

<style scoped>
.google-map {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background: gray;
}
</style>