<template>
  <v-app id="confirm-phone" class="primary">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-3">
              <v-card-text>
                <div class="layout column align-center">
                  <img src="/static/icon.png" alt="Aplikasi Tanggap Bencana" width="120" height="120">
                  
                </div>
                <v-form>
                  <v-text-field append-icon="code" name="code" placeholder="Confirm Code " label="Masukkan Kode Yang Anda Terima di sms" type="text" v-model="model.code"></v-text-field>
                
                </v-form>
              </v-card-text>
                
              <v-card-actions>
                <v-btn block color="primary" @click="login" :loading="loading">Submit Kode</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { firebase } from "../commons/firebase_common";
export default {
  name: "ConfirmPhone",
  data: () => ({
    loading: false,
    model: {
      code: null
    }
  }),
  methods: {
    login() {
      this.loading = true;
      let code = this.model.code;
      let router = this.$router;
      window.confirmationResult
        .confirm(code)
        .then(function(result) {
          // User signed in successfully.
          var user = result.user;
          user.getIdToken(/* forceRefresh */ true)
            .then(function(idToken) {
              // Send token to your backend via HTTPS
              // ...
              localStorage.setItem('token', idToken);
              localStorage.removeItem('phone');
              
              window.getApp.$emit('APP_LOGIN_SUCCESS')
            })
            .catch(function(error) {
              // Handle error
              console.log(error);
            });
        })
        .catch(function(error) {
          // User couldn't sign in (bad verification code?)
          // ...
          console.log(error);
        });
    }
  }
};
</script>
<style scoped lang="css">
.text-center {
  text-align: center;
}
.primary {
  background-color: #50d0e7 !important;
}
.primary--text {
  color: #50d0e7 !important;
}
#confirm-phone {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
}
</style>
