<template>
  <v-app id="login" class="primary">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-3">
              <v-card-text>
                <div class="layout column align-center">
                  <img src="/static/icon.png" alt="Aplikasi Tanggap Bencana" width="120" height="120">
                  <h2 class="flex my-4 primary--text text-center">Aplikasi Tanggap Bencana</h2>
                </div>
                <v-form>
                  <v-text-field append-icon="phone" name="phone" placeholder="+628xxxxxxxxx" label="No Telpon" type="text" v-model="model.phone"></v-text-field>

                </v-form>
                <div id="recaptcha-container"></div>
              </v-card-text>
                
              <v-card-actions>
                <v-btn block color="primary" @click="login" :loading="loading">Masuk</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { firebase } from "../commons/firebase_common";
export default {
  data: () => ({
    loading: false,
    recaptchaVerifier: null,
    model: {
      phone: "+62"
    }
  }),
  mounted: () => {
    this.loading = false;
    window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier(
      "recaptcha-container",
      {
        size: "normal"
      }
    );
    window.recaptchaVerifier.render();
  },
  methods: {
    login() {
      this.loading = true;
      let phoneNumber = this.model.phone;

      let appVerifier = window.recaptchaVerifier;
      let router = this.$router;
      
      firebase
        .auth()
        .signInWithPhoneNumber(phoneNumber, appVerifier)
        .then(function(confirmationResult) {
          // SMS sent. Prompt user to type the code from the message, then sign the
          // user in with confirmationResult.confirm(code).
          window.confirmationResult = confirmationResult;

          setTimeout(() => {
            router.push("/confirm-phone");
          }, 1000);
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
<style scoped lang="css">
.text-center {
  text-align: center;
}
.primary {
  background-color: #50d0e7 !important;
}
.primary--text {
  color: #50d0e7 !important;
}
#login {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
}
#recaptcha-container {
  height: auto;
  width: 200px;
}
</style>
