<template>
    <div class="posko-ungsi">
      <v-tabs color="primary"
        slider-color="yellow">
        <v-tab>
          <v-icon>list</v-icon> Data Table
        </v-tab>
        <v-tab>
          <v-icon>map</v-icon> Map
        </v-tab>
        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <v-data-table
                :headers="headers"
                :items="poskos"
                hide-actions
                class="elevation-1"
              >
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.strNamaPosko }}</td>
                  <td class="text-xs-right">{{ props.item.strPJNama }}</td>
                  <td class="text-xs-right">{{ props.item.strPJKontak }}</td>
                  <td class="text-xs-right">{{ props.item.intJumlahKK }}</td>
                  <td class="text-xs-right">{{ props.item.intJumlahJiwa }}</td>
                  <td class="text-xs-right">{{ props.item.intJumlahBayiNBalita }}</td>
                  <td class="text-xs-right">{{ props.item.intJumlahAnak }}</td>
                  <td class="text-xs-right">{{ props.item.intJumlahLansia }}</td>
                  <td class="text-xs-right">{{ props.item.intJumlahSakit }}</td>
                  <td class="text-xs-right">{{ props.item.intJumlahBumil }}</td>
                  <td class="text-xs-right">{{ props.item.validasi }}</td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-text>Map</v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </div>
</template>
<script>
import GoogleMaps from "@/pages/map/Map";
import { firestore } from "@/commons/firebase_common";
export default {
  components: {
    GoogleMaps
  },
  computed:{
    poskos(){
      return this.$store.getters['poskoUngsiStore/getPoskos']
    }
  },
  data() {
    return {
      headers: [
        {
          text: "Nama Posko",
          align: "left",
          sortable: false,
          value: "strNamaPosko"
        },
        { text: "Penanggun Jawab(PJ)", value: "strPJNama" },
        { text: "PJ Kontak", value: "strPJKontak" },
        { text: "KK", value: "intJumlahKK" },
        { text: "Jiwa", value: "intJumlahJiwa" },
        { text: "Bayi/Balita", value: "intJumlahBayiNBalita" },
        { text: "Anak", value: "intJumlahAnak" },
        { text: "Lansia", value: "intJumlahLansia" },
        { text: "Sakit", value: "intJumlahSakit" },
        { text: "Bumil", value: "intJumlahBumil" },
        { text: "Valid", value: "validasi" }
      ]
    };
  },
  beforeMount() {
    this.getData();
  },
  mounted(){
    console.log(this.poskos);
  },
  methods: {
    getData() {
      this.$store.dispatch("poskoUngsiStore/fetchPoskos");
    },
    setPoskos(posko) {
      this.$store.dispatch("poskoUngsiStore/setPoskos", posko);
    }
  }
};
</script>

